body {
}

#one:before {
    background-image: url('images/IMG_6432.JPG');
    height: 20em;
    background-size: cover;

}
.iconSize {
    font-size: 70px;
    color: #4ACAA8;
}
.rowFormat {
    align-content:center;
    text-align:center;
    margin:15px;
    height:100px;
}
